.fa-user-circle {
    font-size: 30px !important;
}

.fa-line-chart{
    font-size: 20px !important;

}

.fa-cogs{
    font-size: 20px !important;
}
.fa-desktop{
    font-size: 20px !important;
}

.w3-blue {
    background-color: #0077b6 !important;
}
.w3-text-blue {
    color: #0077b6 !important;
}

.w3-container.w3-blue {
    background-color: #0077b6 !important;
}

.w3-row-padding {
    display: flex;
    align-items: stretch; /* Hace que ambas columnas tengan la misma altura */
}
.w3-third {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}